button {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  background-size: 5rem 5rem;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
  color: var(--secondary-background-color);
}

button:active {
  transform: scale(0.9);
  color: #fff;
}

#btn-container {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: auto;
  padding: 1rem;
  background-color: transparent;
  z-index: 1000;
}

#add-project-btn {
  background-image: url(../images/addProject.png);
}

#add-todo-btn {
  background-image: url(../images/addTodo.png);
}

@media screen and (max-width: 1000px) {
  #btn-container {
    width: 100%;
    gap: 0.5rem;
  }
}
