.modal {
  position: absolute;
  top: calc(40% - 25%);
  left: calc(50% - 25%);
  width: 50%;
  height: auto;
  padding: 2rem 0;
  background-color:var(--secondary-background-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-background-color);
  border-radius: 0.5rem;
  animation: fadeIn 0.5s ease-in-out;
  color: var(--secondary-color);
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.form-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input {
  width: 60%;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
  border: 1px solid blue;
}

input[type='date'] {
  width: 250px;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}

select {
  width: 250px;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

<<<<<<< HEAD
#todo-priority {
  background-color: #4caf50;
=======
#todo-priority{
    background-color: var(--low-priority-color);

>>>>>>> 94c324759f049fd2de74ef79c74d54a6a986f4d7
}

label {
  font-size: 1.3rem;
  font-weight: bold;
}

label:hover {
  cursor: pointer;
}

select:focus {
  outline: none;
  border: 1px solid var(--edit-btn-color);
}

input[type='submit'] {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--submit-btn-color);
  color: white;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #3e8e41;
  transition: .2s linear;
}

input[type='submit']:focus {
  outline: none;
  background-color: #3e8e41;
  transition: .2s linear;
}

input[type='submit']:active {
  background-color: #27dd2d;
  transition: .2s linear;
}

<<<<<<< HEAD
input[type='datetime-local'].error {
  color: red;
=======
input[type='datetime-local'].error{
  color: var(--high-priority-color);
>>>>>>> 94c324759f049fd2de74ef79c74d54a6a986f4d7
}

input[type='datetime-local'] {
  text-align: center;
}

.error {
  font-weight: bold;
  border: 3px solid var(--high-priority-color);
}

<<<<<<< HEAD
option:checked {
  background-color: #4caf50;
  color: white;
=======
option:checked{
    background-color: var(--background-color);
    color: white;
>>>>>>> 94c324759f049fd2de74ef79c74d54a6a986f4d7
}

/* make form element flex column when screen is small */

@media screen and (max-width: 600px) {
  .form-element {
    flex-direction: column;
  }

  input {
    width: 90%;
  }

  select {
    width: 90%;
  }

  input[type='date'] {
    width: 90%;
  }
}
