#projects {
  height: 100lvh;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* make the grid responsive on medium and small screen*/
  overflow-y: scroll;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.project {
  display: flex;
  height: auto;
  width: 550px;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-background-color);
}

.projectHeader > h3 {
  font-size: 2.5rem;
  text-shadow: 0 0 5px black;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--secondary-color);
}

.delete-project-btn {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-color: transparent;
}

.delete-project-btn:hover {
  background-color: rgba(255, 57, 57, 0.884);
}
