/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--delete-btn-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--delete-btn-color);
}
