@import url('buttons.css');
@import url('modals.css');
@import url('project-cards.css');
@import url('todos.css');

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #E5F4E3;
    --background-color: #5DA9E9;
    --secondary-background-color: #003F91;
    --urgent-priority-color: #7C3238;
    --high-priority-color: #FF4365;
    --medium-priority-color: #E5B25D;
    --low-priority-color: #81F499;
    --edit-btn-color: #326273;
    --delete-btn-color: #6D326D;
    --submit-btn-color: #4FB477;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

.hidden{
    display: none;
    animation: fadeOut 0.5s ease-in-out;
}

body{
    background-color: var(--background-color);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
