@import url('buttons.css');
@import url('modals.css');
@import url('project-cards.css');
@import url('todos.css');
@import url('scrollbar.css');

:root {
  --primary-color: #ffffff;
  --secondary-color: #e5f4e3;
  --background-color: #5da9e9;
  --secondary-background-color: rgba(112, 128, 144, 0.585);
  --urgent-priority-color: #7c3238;
  --high-priority-color: #ff4365;
  --medium-priority-color: #e5b25d;
  --low-priority-color: #81f499;
  --edit-btn-color: #326273;
  --delete-btn-color: #6d326d;
  --submit-btn-color: #4fb477;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  user-select: none;
}

body {
  background: linear-gradient(
    -150deg,
    var(--edit-btn-color) 0%,
    slategray 100%
  );
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
  animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
